In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('play_tennis.csv')

In [4]:
df.head(10)

   day   outlook  temp humidity    wind play
0   D1     Sunny   Hot     High    Weak   No
1   D2     Sunny   Hot     High  Strong   No
2   D3  Overcast   Hot     High    Weak  Yes
3   D4      Rain  Mild     High    Weak  Yes
4   D5      Rain  Cool   Normal    Weak  Yes
5   D6      Rain  Cool   Normal  Strong   No
6   D7  Overcast  Cool   Normal  Strong  Yes
7   D8     Sunny  Mild     High    Weak   No
8   D9     Sunny  Cool   Normal    Weak  Yes
9  D10      Rain  Mild   Normal    Weak  Yes

In [5]:
df.drop(columns=['day'],inplace=True)

In [6]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [7]:
# problem 1
# outlook=sunny/temp=hot/humidity=high/wind=weak
# play or no play ?

#solution
#
# p(yes/sunny,hot,humidity,weak)=p(sunny/yes)*p(hot/yes)*p(humiduty/yes)*p(weak/yes)*p(yes)
#  p(no/sunny,hot,humidity,weak)=p(sunny/no)*p(hot/no)*p(humiduty/no)*p(weak/no)*p(no)
# compare and decide - maximun posteriori rule

In [8]:
# problem 2
# suppose problem changes
# outlook=overcast/ temp=cold/humidity=low and wind=weak

In [9]:
# conditons changes now again we haven to calc.

# machine learning algo works in two stages

# training and testing

#in training
#it creates a lookup  table and store in dictionary and store all possibilities
# store all probabilities and store it.
  
when it get new data point , search in lookup table and fetch the probabilities

In [13]:
# 1 finds the p(yes) and p(no)

df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [14]:
py=9/14
pn=5/14

print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [15]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [16]:
# first col - outlook
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [17]:
Pon=0
Prn=2/5
Psn=3/5

Poy=4/9
Pry=3/9
Psy=2/9

In [18]:
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [19]:
PCoolNo=1/5
PHotNo=2/5
PMildNo=2/5

PCoolYes=3/9
PHotYes=2/9
PMildYes=4/9

In [20]:
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [21]:
PHighNo=4/5
PNormalNo=1/5
PHighYes=3/9
PNormalYes=6/9

In [22]:
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [23]:
PStrongNo=3/5
PWeakNo=2/5
PStrongYes=3/9
PWeakYes=6/9

In [24]:
#question
#outlook=sunny/temp=hot/humidity=high/wind=weak

pyes=py*Psy*PHotYes*PHighYes*PWeakYes
print(pyes)

0.007054673721340388

In [25]:
pno=pn*Psn*PHotNo*PHighNo*PWeakNo
print(pno)

0.02742857142857143

In [26]:
# no play